<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {{>header}}
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="container">
<body>
{{>nav}}
    <div class="container">
                <h1>About Us</h1>
        <p>Welcome to The Scottish Pantry Network!</p>
        <p>We're here to help tackle food insecurity by connecting local food pantries with those who have surplus produce. Our goal is to ensure that no edible food goes to waste while supporting those in need.</p>
        <p>Through our web application, donors can easily share their surplus fruits and vegetables with nearby pantries. Pantries can then select items they need, streamlining the process for everyone involved.</p>
        <p>Join us in our mission to fight food insecurity and build stronger communities across Scotland.</p>
        <p>The organisation wants the system to work automatically without the need for constant intervention but recognises that it would be useful to have a contact us facility to allow users to provide feedback and a facility to allow administrators to monitor the site and remove users who make inappropriate or inaccurate posts.</p>
    </div>
</body>
</html>
