<!DOCTYPE html>
<html>
<head>
    {{>header}}
    <style>
        .centered-table {
            margin: 0 auto; /* Centers the table horizontally */
            width: 70%; /* Adjusts the width to 80% of the parent element */
        }
    </style>
</head>
<body>
{{>nav}}


</body>
<body class="container">
</html>
