<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <h1>Thank You!</h1>
        <p>Your message has been successfully sent. We appreciate your feedback.</p>
        <a href="/">Return Home</a>
    </div>
</body>
<body class="container">

</html>
